@charset "utf-8";
/* @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular-9.otf');
}
@font-face {
    font-family: 'Inter-Bold-4';
    src: url('../fonts/Inter/Inter-Bold-4.otf');
}
@font-face {
    font-family: 'Inter-ExtraBold-5';
    src: url('../fonts/Inter/Inter-ExtraBold-5.otf');
} */