@charset "utf-8";*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{width:100%;font-family:"Roboto","微软雅黑";min-width:320px;font-size:12px;background:#f5f7fa;height:100%}
li{list-style:none}
img{max-width:100%}
input,select,textarea{border:1px solid #ddd!important;outline:0}
input[type="date"]{width:100%}
input[disabled]{background-color:#eee!important;opacity:1}
textarea.form-control{height:auto;min-height:50px;padding-top:8px}
input:focus,select:focus,textarea:focus{border-color:#999!important;transition:border-color .5s;-webkit-transition:border-color .5s;-moz-transition:border-color .5s;-ms-transition:border-color .5s;-o-transition:border-color .5s}
button,button:focus,input[type="button"]:focus{outline:0!important}
input[type=file]:focus,input[type=checkbox]:focus,input[type=radio]:focus{outline:0}
a{color:#408a43}
a:focus{outline:none!important;text-decoration:none}
a:hover{text-decoration:none}
button i{margin:0 4px}
textarea{resize:none}
.clear{clear:both}