@charset "utf-8";
@font-face {
	font-family: 'Lato Regular'; 
   	src: 
   		url('../fonts/Lato/Lato-Regular.ttf'); 
   }
  @font-face {
	font-family: 'Gotham-Light'; 
   	src: 
   		url('../fonts/Gotham/Gotham-Light.otf'); 
   } 
@font-face {
	font-family: 'DIN-Regular'; 
   	src: 
   		url('../fonts/Din/DIN-Regular.otf'); 
   }
   
  @font-face {
	font-family: 'DIN-Bold'; 
   	src: 
   		url('../fonts/Din/DIN-Bold.otf'); 
   } 
   
body,button,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family:"Lato Regular","微软雅黑";
}